body {
    
    background-image: url('http://4.bp.blogspot.com/-0jUZflb8CMk/UT9J6SbruPI/AAAAAAAAByc/jcJfwGrW7f8/s1600/game_of_thrones_wallpaper_by_ts_shifter-d488iw2.jpg');
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  
}


.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:12px;
    -moz-border-radius-topleft:12px;
    border-top-left-radius:12px;
    -webkit-border-top-right-radius:12px;
    -moz-border-radius-topright:12px;
    border-top-right-radius:12px;
    -webkit-border-bottom-right-radius:12px;
    -moz-border-radius-bottomright:12px;
    border-bottom-right-radius:12px;
    -webkit-border-bottom-left-radius:12px;
    -moz-border-radius-bottomleft:12px;
    border-bottom-left-radius:12px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:Arial;
    font-size:23px;
    font-weight:bold;
    font-style:normal;
    height:72px;
    line-height:72px;
    width:195px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    margin-top: 500px;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}.button:active {
    position:relative;
    top:1px;




